#AnchorPane {
    -fx-background-color: #F1F3C2;

}

.button, .mn-button {
    -fx-background-color: #FFD3B6;
    -fx-text-fill: #8E6E5D;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
}

.mn-button {
    -fx-alignment: CENTER;
    -fx-padding: 0 5px;
    -fx-background-color: #FFD3B6;
    -fx-text-fill: #8E6E5D;
}

.mn-button:hover {
    -fx-background-color: #FFAB91;
}

.button:hover {
    -fx-background-color: #FFAB91;
}

.menuButton {
    -fx-background-color: #A8E6CF;
    -fx-text-fill: #3D6B5A;
    -fx-font-size: 17px;
    -fx-alignment: CENTER;
    -fx-padding: 0px 5px 0px 10px; /* Remove extra padding for better centering */
    -fx-border-width: 0;
    -fx-border-radius: 20px; /* Rounded corners */
    -fx-background-radius: 20px; /* Apply the background to follow rounded corners */
    -fx-min-height: 50px;
    -fx-min-width: 120px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
    -fx-margin: 10px 0px 0px 0px;
    -fx-graphic-text-gap: 5px;
}

.menuButton:hover {
    -fx-background-color: #8FD3C4;
}

#dashHead {
    -fx-background-color: #DCEDC1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
}

#lblUsrName {
    -fx-font-weight: bold;
    -fx-text-fill: #3D6B5A;
}

#btnLogout {
    -fx-background-color: #FF9AA2;
    -fx-text-fill: #FFFFFF;
}

#btnLogout:hover {
    -fx-background-color: #FF8B8B;
}

.label {
    -fx-text-fill: #3D6B5A;
    -fx-font-weight: bold;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #A8E6CF;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-fill: #3D6B5A;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

.table-row-cell {
    -fx-background-color: #FAD4D8;
    -fx-border-color: #E0E0E0;
    -fx-border-width: 0 0 1 0;
}

.table-row-cell:odd {
    -fx-background-color: #A8E6CF;
}

.table-cell {
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 10px;
}

.VBox{
    -fx-padding: 20 0 0 15;
}
